---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import Layout from "../layouts/Layout.astro";
import baoshuoFavicon from "bsi/favicon/favicon.svg";

const links = [
  {
    href: "https://weibohan.com/",
    img: {
      src: "https://thirdqq.qlogo.cn/g?b=qq&nk=3415751684&s=0",
      width: 640,
      height: 640,
      alt: "韦博瀚",
    },
    title: "博瀚君の鸽子窝",
    desc: "蒟蒻 OIer",
  },
  {
    href: "https://icelava.top/",
    img: {
      src: "https://raw.githubusercontent.com/ForkKILLET/ForkKILLET.github.io/master/icelava.jpg",
      width: 2603,
      height: 1387,
      alt: "IceLava",
    },
    title: "IceLava",
    desc: "Make with <3 by ForkΨKillet",
  },
  {
    href: "https://smallfang.fun/",
    img: {
      src: "https://blog.smallfang.fun/image/tx.png",
      width: 853,
      height: 853,
      alt: "smallfang",
    },
    title: "smallfang",
    desc: "2007 / OIer / Beijing · China",
  },
  {
    href: "https://ucw.moe/",
    img: {
      src: "https://raw.githubusercontent.com/wuxianucw/ucw-desu/master/misaka_a.jpg",
      width: 600,
      height: 600,
      alt: "无限 UCW",
    },
    title: "UCW's Blog",
    desc: "无限 UCW 的个人博客",
  },
  {
    href: "https://undefined.moe/",
    img: {
      src: "https://raw.githubusercontent.com/undefined-moe/undefined-moe/master/kmmm.png",
      width: 372,
      height: 512,
      alt: "Kemomimi Chan",
    },
    title: "undefined",
    desc: "OIer（已退役） / Hydro-dev / 菜鸡 / 没啥特长",
  },
  {
    href: "https://imken.moe/",
    img: {
      src: "https://avatars.githubusercontent.com/u/41335471",
      width: 460,
      height: 460,
      alt: "immccn123",
    },
    title: "Imken Luo",
    desc: "OIer / Software Developer / INFP-T",
  },
  {
    href: "https://www.amzcd.top/",
    img: {
      src: "https://cdn.luogu.com.cn/upload/image_hosting/3enxgywp.png",
      width: 512,
      height: 512,
      alt: "diyanqi",
    },
    title: "Dignite's Blog!",
    desc: "高一dog，退役 OIer，兴趣爱好开发者。",
  },
  {
    href: "https://baoshuo.ren/",
    img: {
      src: baoshuoFavicon as never as ImageMetadata,
      alt: "Baoshuo",
    },
    title: "Baoshuo",
    desc: "Student / OIer / Developer",
  },
  {
    href: "https://yuzhen.pub/",
    img: {
      src: "https://yuzhen.pub/upload/logo.jpg",
      width: 512,
      height: 512,
      alt: "Yuzhen",
    },
    title: "Yuzhen",
    desc: "Student / OIer / Developer",
  },
] as const;
---

<BaseLayout title="Links">
  <Layout>
    <div class="flex flex-wrap py-2" data-masonry>
      {
        links.map(({ href, img, title, desc }) => (
          <div class="w-full p-2 transition-all duration-75 md:w-1/2 lg:w-1/3 xl:w-1/4">
            <a href={href} target="_blank" rel="noreferrer">
              <div class="overflow-hidden rounded-xl border bg-slate-200 transition-colors duration-100 hover:bg-slate-300 dark:border-gray-700 dark:bg-slate-700 dark:hover:bg-slate-600">
                <Image class="w-full bg-white" {...img} />
                <div class="mx-6 my-4">
                  <h2 class="text-xl">{title}</h2>
                  <p class="mt-3 text-lg">{desc}</p>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
    <script src="../components/masonry-layout.ts"></script>
  </Layout>
</BaseLayout>
