---
import "@fortawesome/fontawesome-svg-core/styles.css";
import BaseLayout from "./BaseLayout.astro";
import type { Props as BaseLayoutProps } from "./BaseLayout.astro";

export type Props = BaseLayoutProps;

const { title } = Astro.props;
const { pathname } = Astro.url;
---

<BaseLayout title={title}>
  <div
    class="container mx-auto divide-y divide-gray-200 px-4 dark:divide-gray-700"
  >
    <nav class="my-4 flex justify-end space-x-3 text-lg">
      <a class="my-auto mr-auto text-2xl" href="/" rel="prefetch">wxh06</a>
      {
        [
          { href: "/about", text: "About" },
          { href: "/links", text: "Links" },
        ].map(({ href, text }) => (
          <a
            class={`rounded-lg px-4 py-2 transition-colors duration-100 ${
              pathname === href
                ? "bg-gray-300 dark:bg-gray-600"
                : "hover:bg-gray-200 dark:hover:bg-gray-700"
            }`}
            href={href}
            rel="prefetch"
          >
            {text}
          </a>
        ))
      }
    </nav>
    <slot />
  </div>
</BaseLayout>
